<div class="common-card-view" [ngClass]="{'hover': isHover}">
  <div class="common-card-view--inner"
       (click)="onClickCard()">
    <div class="common-card-view--cover"
      [ngStyle]="getBackgroundImageStyle()">
    </div>

    <div class="common-card-view--content">
      <div class="common-card-view--content-overview" *ngIf="subtitle">
        <div [innerHTML]="subtitle"></div>
      </div>

      <div class="common-card-view--content-title" ellipsis *ngIf="title">
        <div [innerHTML]="title"></div>
      </div>

      <div class="common-card-view--content-author" *ngIf="overview">
        <div [innerHTML]="overview" ellipsis></div>
      </div>

      <div class="common-card-view--content-text" *ngIf="supportingText">
        <span>{{ supportingText }}</span>
      </div>
    </div>
  </div>
</div>
