<div class="top-nav-wrapper">
  <div class="container top-nav">
  <div class="logo"><img src="../../../../assets/images/logo.svg"/></div>
    <div class="actions">
      <navigation-bar></navigation-bar>
    </div>
    <div class="container">
      <search-bar class="search-bar"></search-bar>
    </div>
  </div>
</div>
<div>
  <!--<div class="explore-filter-wrapper">-->
    <!--<div class="container">-->
      <!--<explore-filter></explore-filter>-->
    <!--</div>-->
  <!--</div>-->
  <router-outlet></router-outlet>
</div>

