$fontSizeBig: 16px;
$fontSizeExtraSmall: 13px;

$go1-subbg: #f1f6f9;
$go1-accent: #4A4A4A;
$primaryColor: rgba(4, 204, 107, 0.8);
$primaryBg: rgb(53, 70, 75);

$mobile: 768px;
$mDesk: 1024px;
$desk: 1280px;
$tab: 768px;
