@import '../../../movie-app/styles/variables';

.common-card-view {
  font-family: "Open Sans";
  border-radius: 4px;
  position: relative;
  background: #fff;
  color: $go1-accent;
}

.common-card-view--cover {
  cursor: pointer;
  background-color: $go1-subbg;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  -webkit-flex-basis: 256px;
  flex-basis: 256px;
  &:after {
    background-color: rgba(18, 31, 34, 0.6);
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 4;
  }
  & > div {
    z-index: 5;
  }
}

@media (min-width: $desk) {
  .common-card-view--cover {
    &:after {
      transition: 0.2s all;
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

  .common-card-view {
    &:hover,
    &.hover {
      .common-card-view--cover {
        &:after {
          background-color: rgba(18, 31, 34, 0.6);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}

.common-card-view--inner {
  border-radius: 4px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  & > div {
    flex-grow: 0;
    flex-shrink: 0;
  }
}

@media (min-width: $mobile) {
  .common-card-view--inner {
    height: 430px;
  }
}

.common-card-view--content {
  padding: 5px 0px;
}

.common-card-view--content {
  &-text,
  &-overview,
  &-author {
    font-size: $fontSizeBig;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    line-height: 22px;
    margin: 5px 0px;
  }

  &-author {
    opacity: 0.7;
    white-space: normal;
    max-height: $fontSizeBig * 3;
  }

  &-overview {
    font-size: $fontSizeExtraSmall;
    line-height: 18px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.common-card-view--content-title {
  $line-height: 24px;

  max-height: (3 * $line-height) + 3px;
  overflow: hidden;
  font-size: 20px;
  line-height: $line-height;
  margin: 5px 0px;
  font-weight: bold;

  > div {
    margin-bottom: 1px;
  }

  & + .common-card-view--event {
    margin-top: 4px;
  }
}
