<div class="search-wrapper">
  <form
    [formGroup]="searchGroup"
    #form="ngForm"
    (ngSubmit)="onSubmit(form.value)" >
    <input
      type="text"
      name="go1Search"
      id="go1Search"
      formControlName="searchControl"
      [(ngModel)]="searchText"
      [ngbTypeahead]="searching"
      [resultFormatter]="formatter"
      [focusFirst]="false"
      (selectItem)="selectedItem($event)"
      [attr.placeholder]="helpText ? helpText : 'Search for go1 courses'" />
  </form>

  <button class="btn btn-primary" (click)="onSubmit(form.value)" [disabled]="disableSearch">Search</button>
</div>
