@import "../../../styles/styles";

.navbar {
  padding: 0px;
  color: white;
}

a {
  font-size: 25px;
  color: white;
  padding-top: 20px;
  padding-bottom: 35px;
}

a.active {
  color: $primaryColor;
  border-bottom: 4px solid $primaryColor;
}
